<% if current_user %>
<h1>Current user: <%= current_user.email %></h1>
<h2>Sign in count: <%=current_user.sign_in_count %></h2>
<h2>Date created: <%= current_user.created_at.to_formatted_s(:long_ordinal) %></h2>

<h3>Current user object: </h3><%= current_user.inspect %>

<h3>User Session: <%= user_session %></h3>

<h1>Todos</h1>
<ol>
	
	<li>Create accounts scaffold?
			<ul>
				<li>custom accounts controller</li>
				<li>Need super admin to see all accounts and users</li>
			</ul>

	</li>
	<li>Add group column to users for super admin: https://github.com/plataformatec/devise/wiki/How-To:-Add-an-Admin-Role</li>
	<li>Build bootstrap dashboard</li>
	<li>Build Super admin dashboard</li>
	<li>create frontend views</li>
	<li>Create embed code</li>
</ol>
<%= link_to 'Log out', destroy_user_session_path, method: 'delete' %>
<% else %>
<h1>Not logged in.</h1>
<%= link_to 'Log in', new_user_session_path %>
<% end %>