<h1>Overview</h1>



<% if current_user %>


<h2>Current user: <%= current_user.email %></h2>
<h2>Sign in count: <%=current_user.sign_in_count %></h2>
<h2>Date created: <%= current_user.created_at.to_formatted_s(:long_ordinal) %></h2>
<h3>Current user object: </h3><%= current_user.inspect %>
<h3>User Session: <%= user_session %></h3>


<% end %>

