<h1>index.html.erb</h1>

<textarea name="" id="" cols="30" rows="20">
	
Control panel needs....

	List of deployed sites
	a ftp user
	a database user
	SSL boo
    Own user
    Site needs github repository field



    fields to deploy
        domain.. becomes username
        git repository
        images path

/usr/share/nginx/www/corpusconsortium
/etc/nginx/conf.d/main_server_config.conf
</textarea>
<br>

<% if current_user %>

	<button>Click me to create a file</button> <br>
	<button>Click me to restart the server</button> <br>
	<button>Click me to create a user</button> <br>

	<h3>User Model</h3>
	<ul>
		
	<li>Current user: <%= current_user.email %></li>
	<li>Sign in count: <%=current_user.sign_in_count %></li>
	<li>Date created: <%= current_user.created_at.to_formatted_s(:long_ordinal) %></li>
	<li>User Session: <%= user_session %></li>
	<% current_user.attributes.each do | k,v | %>
		<li><strong><%= k %>:&nbsp;&nbsp;</strong><%= v %></li>
	<% end %>

	</ul>

<% end %>

