<!DOCTYPE html>
<html>
<head>
  <title>SuperAdmin</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="<%= image_path 'favicon.ico' %>">
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<% 
		logged_out_id = 'login'
		if current_user
			logged_out_id = ''
		end
	%>
	<% if current_user %>	      

	    <div id="sidebar">
			<ul>      	
				<li><%= link_to 'Dashboard', root_path %></li>
				<%= sidebar_link 'Users', users_path %>
				<li><%= link_to 'Log out', destroy_user_session_path, method: 'delete' %></li>
			</ul>
	    </div>
	
	<% end %>

    <div id="<%= logged_out_id %>" class="main">
		<%= render 'partials/flash_messages' %>
		<%= yield %>
    </div> <!-- end main -->
	


  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>